## Programming for Data Analysis - Project

### Author - Brendan Tunney

### Student ID - G00270683

Insurance premiums. Variables - Age, Gender, License type & Cover type

Cover - 81.86  Comp - 18.14 Third Party 2017 figures [2]
Gender - Female 50.55. Male 49.45 [3]
Licence - Full - 96.5. Provisional 3.5 [4]
AGE - 30 or under - 819,602  16.4%
      31 or over - 2,813,079 56.3% [5]
Premiums -

In [15]:
# Importing libraries to create dataframe

import numpy as np  
import pandas as pd
import random

In [18]:
age=np.random.randint(low=17, high=100, size=1000)

In [22]:
# Creating the variables

gender = ('Female', 'Male')
licence = ('Full', 'Provisional')
cover = ('Comprehensive', 'Third Party')


df = pd.DataFrame(columns={'Premium', 'Age', 'Gender', 'Licence', 'Cover'})

df['Gender'] = np.random.choice(gender, 1000, p=[0.5055, 0.4945]) # using numpy random choice to assign 'M/F' based on current population distribution.
df['Cover'] = np.random.choice(cover, 1000, p= [0.8186, 0.1814]) # 
df['Licence'] = np.random.choice(licence, 1000, p=[0.965, 0.035])
df['Age'] = np.random.choice(age, 1000)

In [21]:
df

     Gender Premium          Cover Licence  Age
0    Female     NaN  Comprehensive    Full   32
1      Male     NaN  Comprehensive    Full   32
2    Female     NaN  Comprehensive    Full   32
3      Male     NaN    Third Party    Full   32
4      Male     NaN    Third Party    Full   32
..      ...     ...            ...     ...  ...
995    Male     NaN  Comprehensive    Full   32
996    Male     NaN  Comprehensive    Full   32
997  Female     NaN  Comprehensive    Full   32
998  Female     NaN  Comprehensive    Full   32
999  Female     NaN  Comprehensive    Full   32

[1000 rows x 5 columns]